<!-- the page that lists all the users in the application -->


<!-- Start users Heading Section -->
<div class='content'>
  <div class='button'></div>
  <div class="mainbody-section text-center">
    <div class="container">
      <div class="row">
        <div id="appHeading" class="section-title text-center">
          <h3>Listing users</h3>
          <p>Add, Edit and Delete users</p>
        </div>
      </div>
<!--end of users heading section-->
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div id="listingappPanel" >
            <div class="panel-body shadbox">
              <table class="table text-left" >
                <tr>
                  <th>User</th>
                  <th>Admin</th>
                  <th></th>
                </tr>
                <% @users.each do |user| %>
                  <tr>
                  <td><%= user.name %></td>
                  <td><%= user.admin %></td>
                  <td> 
                    <div class="pull-right hidden-phone">
                        <div id="listingappbuttons">
                          <button class="btn btn-default btn-xs">
                            <!--<i class="fa fa-check"></i>-->
                            <%= link_to '', user, :class =>'fa fa-check' %>
                          </button>
                          <button class="btn btn-default btn-xs">
                            <!--<i class="fa fa-pencil"></i>-->
                            <%= link_to '', edit_user_path(user), :class =>'fa fa-pencil' %>
                          </button>
                          <button class="btn btn-default btn-xs">
                            <!--<i class="fa fa-times"></i>-->
                            <%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'fa fa-times' %>
                          </button>
                        </div>
                      </div>
                    </td>
                    </tr>
                  <% end %>
                </table>
              <%= link_to 'Add New user', new_user_path, class: 'appformbutton btn btn-info appbackbutton'%>
              <%= link_to 'Back', admin_path, class: 'appformbutton btn btn-info appbackbutton'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>