<%= form_for(@nutrition_fact) do |f| %>
  <% if @nutrition_fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nutrition_fact.errors.count, "error") %> prohibited this nutrition_fact from being saved:</h2>

      <ul>
      <% @nutrition_fact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :food_id %><br>
    <%= f.number_field :food_id %>
  </div>
  <div class="field">
    <%= f.label :servingSize %><br>
    <%= f.number_field :servingSize %>
  </div>
  <div class="field">
    <%= f.label :calories %><br>
    <%= f.number_field :calories %>
  </div>
  <div class="field">
    <%= f.label :totalFat %><br>
    <%= f.number_field :totalFat %>
  </div>
  <div class="field">
    <%= f.label :saturatedFat %><br>
    <%= f.number_field :saturatedFat %>
  </div>
  <div class="field">
    <%= f.label :transFat %><br>
    <%= f.number_field :transFat %>
  </div>
  <div class="field">
    <%= f.label :cholesterol %><br>
    <%= f.number_field :cholesterol %>
  </div>
  <div class="field">
    <%= f.label :sodium %><br>
    <%= f.number_field :sodium %>
  </div>
  <div class="field">
    <%= f.label :carbohydrates %><br>
    <%= f.number_field :carbohydrates %>
  </div>
  <div class="field">
    <%= f.label :dietaryFiber %><br>
    <%= f.number_field :dietaryFiber %>
  </div>
  <div class="field">
    <%= f.label :protein %><br>
    <%= f.number_field :protein %>
  </div>
  <div class="field">
    <%= f.label :vitaminA %><br>
    <%= f.number_field :vitaminA %>
  </div>
  <div class="field">
    <%= f.label :vitaminC %><br>
    <%= f.number_field :vitaminC %>
  </div>
  <div class="field">
    <%= f.label :calcium %><br>
    <%= f.number_field :calcium %>
  </div>
  <div class="field">
    <%= f.label :iron %><br>
    <%= f.number_field :iron %>
  </div>
  <div class="field">
    <%= f.label :vegetarian %><br>
    <%= f.check_box :vegetarian %>
  </div>
  <div class="field">
    <%= f.label :vegan %><br>
    <%= f.check_box :vegan %>
  </div>
  <div class="field">
    <%= f.label :dairyAllergy %><br>
    <%= f.check_box :dairyAllergy %>
  </div>
  <div class="field">
    <%= f.label :eggAllergy %><br>
    <%= f.check_box :eggAllergy %>
  </div>
  <div class="field">
    <%= f.label :peanutAllergy %><br>
    <%= f.check_box :peanutAllergy %>
  </div>
  <div class="field">
    <%= f.label :treenutAllergy %><br>
    <%= f.check_box :treenutAllergy %>
  </div>
  <div class="field">
    <%= f.label :fishAllergy %><br>
    <%= f.check_box :fishAllergy %>
  </div>
  <div class="field">
    <%= f.label :shellfishAllergy %><br>
    <%= f.check_box :shellfishAllergy %>
  </div>
  <div class="field">
    <%= f.label :soyAllergy %><br>
    <%= f.check_box :soyAllergy %>
  </div>
  <div class="field">
    <%= f.label :wheatAllergy %><br>
    <%= f.check_box :wheatAllergy %>
  </div>
  <div class="field">
    <%= f.label :wholeGrain %><br>
    <%= f.check_box :wholeGrain %>
  </div>
  <div class="field">
    <%= f.label :healthfulChoice %><br>
    <%= f.check_box :healthfulChoice %>
  </div>
  <div class="field">
    <%= f.label :heartSmart %><br>
    <%= f.check_box :heartSmart %>
  </div>
  <div class="field">
    <%= f.label :kosher %><br>
    <%= f.check_box :kosher %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
