<p id="notice"><%= notice %></p>

<p>
  <strong>Food:</strong>
  <%= @nutrition_fact.food.name %>
</p>

<p>
  <strong>Servingsize:</strong>
  <%= @nutrition_fact.servingSize %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @nutrition_fact.calories %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @nutrition_fact.protein %>
</p>

<p>
  <strong>Totalfat:</strong>
  <%= @nutrition_fact.totalFat %>
  <%= ((@nutrition_fact.totalFat/65.0)*100).round %>%
</p>

<p>
  <strong>Saturated:</strong>
  <%= @nutrition_fact.saturated %>
  <%= ((@nutrition_fact.saturated/20.0)*100).round %>%
</p>

<p>
  <strong>Trans:</strong>
  <%= @nutrition_fact.trans %>
</p>

<p>
  <strong>Cholesterol:</strong>
  <%= @nutrition_fact.cholesterol %>
  <%= ((@nutrition_fact.cholesterol/300.0)*100).round %>%
</p>

<p>
  <strong>Carbohydrates:</strong>
  <%= @nutrition_fact.carbohydrates %>
   <%= ((@nutrition_fact.carbohydrates/300.0)*100).round %>%
</p>

<p>
  <strong>Sugars:</strong>
  <%= @nutrition_fact.sugars %>
</p>

<p>
  <strong>Dietaryfiber:</strong>
  <%= @nutrition_fact.dietaryFiber %>
  <%= ((@nutrition_fact.dietaryFiber/25.0)*100).round %>%
</p>

<p>
  <strong>Sodium:</strong>
  <%= @nutrition_fact.sodium %>
   <%= ((@nutrition_fact.sodium/2400.0)*100).round %>%
</p>

<p>
  <strong>Potassium:</strong>
  <%= @nutrition_fact.potassium %>
</p>

<p>
  <strong>Magnesium:</strong>
  <%= @nutrition_fact.magnesium %>
</p>

<p>
  <strong>Calcium:</strong>
  <%= @nutrition_fact.calcium %>
</p>

<p>
  <strong>Iron:</strong>
  <%= @nutrition_fact.iron %>
</p>

<p>
  <strong>Vitamind:</strong>
  <%= @nutrition_fact.vitaminD %>
</p>

<p>
  <strong>Eggallergy:</strong>
  <%= @nutrition_fact.eggAllergy %>
</p>

<p>
  <strong>Fishallergy:</strong>
  <%= @nutrition_fact.fishAllergy %>
</p>

<p>
  <strong>Shellfishallergy:</strong>
  <%= @nutrition_fact.shellfishAllergy %>
</p>

<p>
  <strong>Soyallergy:</strong>
  <%= @nutrition_fact.soyAllergy %>
</p>

<p>
  <strong>Dairyallergy:</strong>
  <%= @nutrition_fact.dairyAllergy %>
</p>

<p>
  <strong>Milkallergy:</strong>
  <%= @nutrition_fact.milkAllergy %>
</p>

<p>
  <strong>Wheatallergy:</strong>
  <%= @nutrition_fact.wheatAllergy %>
</p>

<p>
  <strong>G6pdallergy:</strong>
  <%= @nutrition_fact.g6pdAllergy %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_nutrition_fact_path(@nutrition_fact) %> |
  <%= link_to 'Back', nutrition_facts_path %>
<% end %>


