<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.collection_select :type_id, Type.all, :id, :name %> 
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %> 
  </div>
  <div class="field">
    <%= f.label :food_timing_id %><br>
    <%= f.collection_select :food_timing_id, FoodTiming.all, :id, :timing %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
