<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>
      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.collection_select :type_id, Type.all, :id, :name %> 
  </div>

  <div>
    <%= f.label :time %>
    <%= render partial: 'times_check' %>
  </div>

    <div>
    <%= f.label :restaurants %>
    <%= render partial: 'restaurants_check' %>
  </div>



  <!-- NF info -->
  <div class="field">
    <%= f.label :servingSize %><br>
    <%= f.number_field :servingSize %>
  </div>
  <div class="field">
    <%= f.label :calories %><br>
    <%= f.number_field :calories %>
  </div>
  <div class="field">
    <%= f.label :protein %><br>
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :totalFat %><br>
    <%= f.text_field :totalFat %>
  </div>
  <div class="field">
    <%= f.label :saturated %><br>
    <%= f.text_field :saturated %>
  </div>
  <div class="field">
    <%= f.label :trans %><br>
    <%= f.text_field :trans %>
  </div>
  <div class="field">
    <%= f.label :cholesterol %><br>
    <%= f.text_field :cholesterol %>
  </div>
  <div class="field">
    <%= f.label :carbohydrates %><br>
    <%= f.text_field :carbohydrates %>
  </div>
  <div class="field">
    <%= f.label :sugars %><br>
    <%= f.text_field :sugars %>
  </div>
  <div class="field">
    <%= f.label :dietaryFiber %><br>
    <%= f.text_field :dietaryFiber %>
  </div>
  <div class="field">
    <%= f.label :sodium %><br>
    <%= f.text_field :sodium %>
  </div>
  <div class="field">
    <%= f.label :potassium %><br>
    <%= f.text_field :potassium %>
  </div>
  <div class="field">
    <%= f.label :magnesium %><br>
    <%= f.text_field :magnesium %>
  </div>
  <div class="field">
    <%= f.label :calcium %><br>
    <%= f.text_field :calcium %>
  </div>
  <div class="field">
    <%= f.label :iron %><br>
    <%= f.text_field :iron %>
  </div>
  <div class="field">
    <%= f.label :vitaminD %><br>
    <%= f.text_field :vitaminD %>
  </div>
  <div class="field">
    <%= f.label :eggAllergy %><br>
    <%= f.check_box :eggAllergy %>
  </div>
  <div class="field">
    <%= f.label :fishAllergy %><br>
    <%= f.check_box :fishAllergy %>
  </div>
  <div class="field">
    <%= f.label :shellfishAllergy %><br>
    <%= f.check_box :shellfishAllergy %>
  </div>
  <div class="field">
    <%= f.label :soyAllergy %><br>
    <%= f.check_box :soyAllergy %>
  </div>
  <div class="field">
    <%= f.label :dairyAllergy %><br>
    <%= f.check_box :dairyAllergy %>
  </div>
  <div class="field">
    <%= f.label :milkAllergy %><br>
    <%= f.check_box :milkAllergy %>
  </div>
  <div class="field">
    <%= f.label :wheatAllergy %><br>
    <%= f.check_box :wheatAllergy %>
  </div>
    <div class="field">
    <%= f.label :g6pdAllergy %><br>
    <%= f.check_box :g6pdAllergy %>
  </div>
      <div class="field">
    <%= f.label :vegetarian %><br>
    <%= f.check_box :vegetarian %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
