<!-- the page that lists all the foods in the application -->


<!-- Start foods Heading Section -->
<div class='content'>
  <div class='button'></div>
  <div class="mainbody-section text-center">
    <div class="container">
      <div class="row">
        <div id="appHeading" class="section-title text-center">
          <h3>Listing foods</h3>
          <p>Add, Edit and Delete foods</p>
        </div>
      </div>
<!--end of foods heading section-->
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div id="listingappPanel" >
            <div class="panel-body shadbox">
              <table class="table text-left" >
                <tr>
                  <th>Food Name</th>
                  <th></th>
                  </tr>
                  <% @foods.each do |food| %> 
                    <tr>
                    <td><%= food.name %></td>
                    <td> 

                      <!-- the buttons used for show, edit and distroy -->
                      <div class="pull-right hidden-phone">
                          <div id="listingfoodsbuttons">
                            <button class="btn btn-default btn-xs">
                              <!--<i class="fa fa-check"></i>-->
                              <%= link_to '', food, :class =>'fa fa-check' %>
                            </button>
                            <button class="btn btn-default btn-xs">
                              <!--<i class="fa fa-pencil"></i>-->
                              <%= link_to '', edit_food_path(food), :class =>'fa fa-pencil' %>
                            </button>
                            <button class="btn btn-default btn-xs">
                              <!--<i class="fa fa-times"></i>-->
                              <%= link_to '', food, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'fa fa-times' %>
                            </button>
                        </div>
                      </div>
                    </td>
                    </tr>
                  <% end %>
                </table>
              <%= link_to 'Add New food', new_food_path, class: 'appformbutton btn btn-info appbackbutton'%>
              <%= link_to 'Back', nutritionist_path, class: 'appformbutton btn btn-info appbackbutton'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>