<!-- This page shows the specific food page -->
<!-- it shoes where the food is available, when it is available, it belongs to what type of food and the food's 
  nutrition fact label -->

<div class='content'>
  <div class='button'></div>
  <div class="mainbody-section text-center">
  <div class="container">
    <div class="fontshow">


              <div class="col-md-12 col-md-offset-2">  
              <div class="row">
                      
                  <div class="col-md-4">

                    <div class="row">
                        <div class="shadbox">

                          <div class="row">
                            <h1><%= @food.name %></h1>
                          </div>
                          <hr>
                          <div class="row vdivide">

                            <div class="col-md-6">
                              <div class="row">
                                <h5>Type</h5>
                              <p><%= @food.type.name %></p>
                              </div>
                              <hr>
                              <div class="row">
                                <h5>Available During</h5>
                              <p><%= render partial: 'times_list' %>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <h5>Served At</h5>
                              <p><%= render partial: 'restaurants_list'%></p>
                            </div>
                          </div>

                          

                           
                        </div>
                    </div>
                    
                    <div class="row">
                      <div class="shadbox">

                        <h5>Allergens & Diet</h5>

                        <% if @food.eggAllergy==true%>
                        <%= image_tag("egg-free.svg", class: 'im', :alt => "rss feed") %>
                        <h6>Egg Allergy</h6>
                        <% end %>

                        <% if @food.fishAllergy==true%>
                        <%= image_tag("fish.svg", class: 'im', :alt => "rss feed") %>
                        <h6>Fish Allergy</h6>
                        <% end %>

                        <% if @food.shellfishAllergy==true%>
                        <%= image_tag("shell.svg", class: 'im', :alt => "rss feed") %>
                        <h6>Shellfish Allergy</h6>
                        <% end %>


                        <% if @food.soyAllergy==true%>
                        <%= image_tag("soy.svg", class: 'im', :alt => "rss feed") %>
                        <h6>Soy Allergy</h6>
                        <% end %>


                        <% if @food.dairyAllergy==true%>
                        <%= image_tag("dairy.svg", class: 'im', :alt => "rss feed") %>
                        <h6>Dairy Allergy</h6>
                        <% end %>


                        <% if @food.milkAllergy==true%>
                        <%= image_tag("milk.svg", class: 'im', :alt => "rss feed") %>
                        <h6>Milk Allergy</h6>
                        <% end %>


                        <% if @food.wheatAllergy==true%>
                        <%= image_tag("wheat.svg", class: 'im', :alt => "rss feed") %>
                        <h6>Wheat Allergy</h6>
                        <% end %>


                        <% if @food.g6pdAllergy==true%>
                        <%= image_tag("g6pd.svg", class: 'im', :alt => "rss feed") %>
                        <h6>G6PD Allergy</h6>
                        <% end %>

                        <% if @food.vegetarian==true%>
                        <%= image_tag("vig.svg", class: 'im', :alt => "rss feed") %>
                        <h6>Vegetarian</h6>
                        <% end %>
                            
                      </div>
                    </div>
                  
                  </div> 

                  <div class="col-md-8 ">
                        <div class="shadlabelbox" >
                          <section class="performance-facts">
                            </br>
                              <header class="performance-facts__header">
                                <h2 class="performance-facts__title">Nutrition Facts</h2>
                                    <p>Serving Size <%= @food.servingSize %></p>
                              </header>
                            
                              <table class="performance-facts__table">
                                <thead>
                                  <tr>
                                    <th colspan="3" class="small-info">
                                      Amount Per Serving
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th colspan="2">
                                      <b>Calories</b>
                                      <%= @food.calories %>
                                    </th>
                                  </tr>
                                  <tr class="thick-row">
                              <table class="performance-facts__table">
                                <thead>
                                </thead>
                                <tbody>
                                  <tr class="thick-row">
                                    <td colspan="3" class="small-info">
                                      
                                      <b>% Daily Value*</b>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th colspan="2">
                                      <b>Protein</b>
                                      <%= @food.protein %>g
                                    </th>
                                    <td>
                                     <b><%= ((@food.protein/48.0)*100).round %>%</b>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th colspan="2">
                                      <b>Total Fat</b>
                                      <%= @food.totalFat %>g
                                    </th>
                                    <td>
                                      <b><%= ((@food.totalFat/65.0)*100).round %>%</b>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="blank-cell">
                                    </td>
                                    <th>
                                      Saturated Fat
                                      <%= @food.saturated %>g
                                    </th>
                                    <td>
                                      <b><%= ((@food.saturated/20.0)*100).round %>%</b>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="blank-cell">
                                    </td>
                                    <th>
                                      Trans Fat
                                      <%= @food.trans %>g
                                    </th>
                                    <td>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th colspan="2">
                                      <b>Cholesterol</b>
                                      <%= @food.cholesterol %>mg
                                    </th>
                                    <td>
                                      <b><%= ((@food.cholesterol/300.0)*100).round %>%</b>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th colspan="2">
                                      <b>Total Carbohydrate</b>
                                      <%= @food.carbohydrates %>g
                                    </th>
                                    <td>
                                      <b><%= ((@food.carbohydrates/300.0)*100).round %>%</b>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="blank-cell">
                                    </td>
                                    <th>
                                      Sugars
                                      <%= @food.sugars %>g
                                    </th>
                                    <td>
                                    </td>
                                  </tr>  
                                  <tr>
                                    <th colspan="2">
                                      <b>Dietary Fiber</b>
                                      <%= @food.dietaryFiber %>g
                                    </th>
                                    <td>
                                      <b><%= ((@food.dietaryFiber/25.0)*100).round %>%</b>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th colspan="2">
                                      <b>Sodium</b>
                                      <%= @food.sodium %>mg
                                    </th>
                                    <td>
                                      <b><%= ((@food.sodium/2400.0)*100).round %>%</b>
                                    </td>
                                  </tr>
                                   <tr>
                                    <th colspan="2">
                                      <b>Potassium</b>
                                      <%= @food.potassium %>mg
                                    </th>
                                    <td>
                                      <b><%= ((@food.potassium/3625.0)*100).round %>%</b>
                                    </td>
                                  </tr>
                                   <tr>
                                    <th colspan="2">
                                      <b>Magnesium</b>
                                      <%= @food.magnesium %>mg
                                    </th>
                                    <td>
                                      <b><%= ((@food.magnesium/375.0)*100).round %>%</b>
                                    </td>
                                  </tr>
                                   <tr>
                                    <th colspan="2">
                                      <b>Calcium</b>
                                      <%= @food.calcium %>mg
                                    </th>
                                    <td>
                                      <b><%= ((@food.calcium/1024.0)*100).round %>%</b>
                                    </td>
                                  </tr>
                                   <tr>
                                    <th colspan="2">
                                      <b>Iron</b>
                                      <%= @food.iron %>mg
                                    </th>
                                    <td>
                                      <b><%= ((@food.iron/17.36)*100).round %>%</b>
                                    </td>
                                  </tr>
                                  <tr >
                                    <th colspan="2">
                                      <b>Vitamin D</b>
                                      <%= @food.vitaminD %>mg
                                    </th>
                                    <td>
                                      <b><%= ((@food.vitaminD/600.0)*100).round %>%</b>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>


                              
                            </section>

                              <% if logged_in? %>
                                <%= link_to 'Back', foods_path, class: 'appformbutton btn btn-info appbackbutton'%>
                                <% else %>
                                <li>
                                  <%= button_to 'Add to My Meal', my_meals_path(food_id: @food), :class => 'mymealbutton' %>
                                </li>
                              <% end %> 
                        </div>
                    </div>
                </div>
          </div>
    </div>
    </div>
    </div>
</div>




