<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Type:</strong>
 <!-- <%= @food.type_id %> -->
 <%= @food.type.name %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @food.restaurant_id %>
</p>

<p>
  <strong>Food timing:</strong>
  <%= @food.food_timing_id %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
