<!-- the form to add and edit restaurants -->

<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-left">
    <%= f.label :name, class: 'form-group' %><br>
    <%= f.text_field :name, class: 'appformcontrol form-control' %>
  </div>
  
  <div class="actions">
    <%= f.submit class: ' appformbutton btn btn-info' %>
    <%= link_to 'Back', restaurants_path, class: 'appformbutton btn btn-info appbackbutton'%>
  </div>
<% end %>
