<!-- the page that lists all the restuarants in the application -->

<!-- Start Restaurants Heading Section -->
<div class='content'>
  <div class='button'></div>
  <div class="mainbody-section text-center">
    <div class="container">
      <div class="row">
        <div id="appHeading" class="section-title text-center">
          <h3>Listing Restaurants</h3>
          <p>Add, Edit and Delete Restaurants</p>
        </div>
      </div>
<!--end of restaurants heading section-->
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div id="listingappPanel">
            <div class="panel-body shadbox">
              <table class="table text-left" >
                <tr>
                  <th>Restaurant Name</th>
                </tr>
                <% @restaurants.each do |restaurant| %>
                  <tr>
                                            
                  <td><%= restaurant.name %></td>
                  <td> 
                    <div class="pull-right hidden-phone">
                      <div id="listingappbuttons">
                        <button class="btn btn-default btn-xs">
                          <!--<i class="fa fa-check"></i>-->
                          <%= link_to '', restaurant, :class =>'fa fa-check' %>
                        </button>
                        <button class="btn btn-default btn-xs">
                          <!--<i class="fa fa-pencil"></i>-->
                          <%= link_to '', edit_restaurant_path(restaurant), :class =>'fa fa-pencil' %>
                        </button>
                        <button class="btn btn-default btn-xs">
                          <!--<i class="fa fa-times"></i>-->
                          <%= link_to '', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'fa fa-times' %>
                        </button>
                      </div>
                    </div>
                  </td>
                  </tr>
                <% end %>
              </table>
              <%= link_to 'Add New Restaurant', new_restaurant_path, class: 'appformbutton btn btn-info appbackbutton'%>
              <%= link_to 'Back', admin_path, class: 'appformbutton btn btn-info appbackbutton'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>