<!-- the side navigation bar in our application --> 

<div class='wrapper'>
  <div class='sidebar'>
    <div class='title'>

      Nutrition Application
      
    </div>
    <ul class='nav'>

      <li>
        <%= link_to ' Home', root_path%>
      </li>

      <li>
        <%= link_to 'Choose a Meal', configure_a_meal_path%>
      </li>
      <li>
        <%= link_to "By Nutrient Ranges", new_search_path%>
      </li>
<!--       <li>
        <a class='active'>Milestones</a>
      </li> -->
      <li>
        <%= link_to 'By Food Name', page_path('compdet')%>
      </li>

      <li>
        <%= link_to 'My Meal', meal_path(current_meal) %>
      </li>

      
      <!-- this following if condition showed admin when the user in not loged in -->
      <!-- if the user logged in as an admin it change the link of admin to the user admin page and add logout button -->
      <!-- if the user logged in as a nutritionist, the buttons change to nutritionist button that goes to nutritionist page and add logout button -->

      <% if logged_in? %>
        <% if current_user.admin? %>

          <li>
            <%= link_to 'Admin', admin_path %>
          </li>

        <% else %>

          <li>
            <%= link_to 'Nutritionist', nutritionist_path %>
          </li>

        <% end %>

        <li>
          <%= link_to 'Logout', logout_path, method: :delete%>
        </li>

      <% else %>
          <li>
            <%= link_to 'Admin', login_path %>
          </li>
      <% end %> 

    </ul>
  </div>
</div>









