<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Nutrition App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Nutrition App" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
      <footer id="footer">
        <div class="inner">
          <ul class="menu">
            Health and Wellness Office - Carnegie Mellon Qatar
          </br>
            Design: Hanan Tamimi, Shikha Darwish, Fariya Shabbir
          </ul>
        </div>
  </footer>
  </body>
</html>
