<!-- the form that is used to create and edit meal times -->

<%= form_for(@meal_time) do |f| %>
  <% if @meal_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal_time.errors.count, "error") %> prohibited this meal_time from being saved:</h2>

      <ul>
      <% @meal_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-left">
    <%= f.label :time, class: 'form-group' %><br>
    <%= f.text_field :time, class: 'appformcontrol form-control' %>
  </div>
  
  <div class="actions">
    <%= f.submit class: ' appformbutton btn btn-info' %>
    <%= link_to 'Back', meal_times_path, class: 'appformbutton btn btn-info appbackbutton'%>
  </div>
<% end %>